services:
  postgres:
    image: postgres:15-alpine
    restart: always
    container_name: notesdiffer-postgres
    hostname: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notesdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      app-network:
        aliases:
          - postgres
          - db

  app:
    restart: on-failure
    build: .
    container_name: notesdiffer-app
    ports:
      - "8023:8023"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - postgres
    links:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge